<div class="navbar-inner">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/Admin/Index/index"><span>blog</span></a>

        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
            <ul class="nav pull-right">
                <!-- start: User Dropdown -->
                <li class="dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <i class="halflings-icon white user"></i> <?php echo $admininfo['username'];?>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-title">
                            <span>个人中心</span>
                        </li>
                        <li><a href="/Admin/Admin/setting"><i class="halflings-icon user"></i> 设置</a></li>
                        <li><a href="/Admin/Login/logout"><i class="halflings-icon off"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- end: User Dropdown -->
            </ul>
        </div>
        <!-- end: Header Menu -->

    </div>
</div>